<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.hongyun.cordova.plugin.share"
      version="1.0.0">
    <name>CDVRShare</name>
    <description>Cordova CDVShare Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,CDVShare</keywords>


    <js-module src="www/Share.js" name="Share">
        <clobbers target="navigator.Share" />
    </js-module>

	<platform name="android">

        <config-file target="config.xml" parent="/*">
			<feature name="Share">
				<param name="android-package" value="com.hongyun.cordova.plugin.share.Share"/>
				<param name="onload" value="true" />
			</feature>
        </config-file>

		<source-file
				src="src/android/com/hongyun/cordova/plugin/share/Share.java"
				target-dir="src/com/hongyun/cordova/plugin/share" />
	</platform>

    <platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="Share">
				<param name="ios-package" value="Share" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

        <header-file src="src/ios/Share.h" />
		<source-file src="src/ios/Share.m" />
    </platform>
</plugin>